#myDIV{
    position: absolute;

    background-color: rgb(216, 215, 215);

    width: 1250px;
    height: 300px;

    margin-left: 22px;
    margin-top: 250px;
    

    z-index: -1;

    opacity: 0;
}

.all-photos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    padding-left: 40px;
}

@media (min-width: 1800px) {
    #myDIV {
        width: 1815px;
    }

    .all-photos-grid{
        margin-left: 90px;
    }
}

@media (max-width: 1300px) {
    #myDIV{
        width: 815px;
        height: 400px;
    }

    .all-photos-grid{
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 5px;
    }
}

@media (max-width: 600px) {
    .photos-grid{
        grid-template-columns: 1fr;
    }
}

.div-photo{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 120px;

    width: 150px;
}

.photo-of-all-photos{
    width: 150px;
}
